<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>@@titre@@</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="themes/arcana/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="themes/arcana/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="themes/arcana/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="themes/arcana/assets/css/ie9.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
				@@header@@
					<!-- Logo -->
						<h1>@@titre@@</h1>

					<!-- Nav -->
						<nav id="nav">
						@@menu@@	
						</nav>

				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						@@intro@@
					</header>
				</section>

			<!-- Highlights -->
				<section class="wrapper style1">
					<div class="container">
					@@contenu@@
					</div>
				</section>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<section class="3u 6u(narrower) 12u$(mobilep)">
								@@footer@@
							</section>
							<section class="6u 12u(narrower)">
								<h3>Get In Touch</h3>
								@@contact@@
							</section>
						</div>
					</div>

					<!-- Icons -->
					@@social@@
					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; Marc Augiers. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>

				</div>

		</div>

		<!-- Scripts -->
			<script src="themes/arcana/assets/js/jquery.min.js"></script>
			<script src="themes/arcana/assets/js/jquery.dropotron.min.js"></script>
			<script src="themes/arcana/assets/js/skel.min.js"></script>
			<script src="themes/arcana/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="themes/arcana/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="themes/arcana/assets/js/main.js"></script>

	</body>
</html>