<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>@@titre@@</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="themes/massively/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="themes/massively/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						@@intro@@
					</div>

				<!-- Header -->
					<header id="header">
						@@header@@
					</header>

				<!-- Nav -->
					<nav id="nav">
						@@menu@@
						@@social@@
					</nav>

				<!-- Main -->
					<div id="main">
					@@contenu@@

						<!-- Footer -->
							<footer>
								<div class="pagination">
								@@pagination@@
								</div>
							</footer>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
						@@footer@@
						</section>
						<section class="split contact">
						@@contact@@
								<section>
								<h3>Social</h3>
								@@social@@
								</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Marc Augier Inc.</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="themes/massively/assets/js/jquery.min.js"></script>
			<script src="themes/massively/assets/js/jquery.scrollex.min.js"></script>
			<script src="themes/massively/assets/js/jquery.scrolly.min.js"></script>
			<script src="themes/massively/assets/js/skel.min.js"></script>
			<script src="themes/massively/assets/js/util.js"></script>
			<script src="themes/massively/assets/js/main.js"></script>

	</body>
</html>