<!DOCTYPE HTML>
<!--
	Photon by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>@@titre@@</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="themes/photon/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="themes/photon/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="themes/photon/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="themes/photon/assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<div class="inner">
				@@header@@
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style1">
				<div class="container">
					<div class="row 150%">
					@@contenu@@
					</div>
				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
			@@social@@
				<ul class="copyright">
					<li>&copy; Marc Augier</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</section>

		<!-- Scripts -->
			<script src="themes/photon/assets/js/jquery.min.js"></script>
			<script src="themes/photon/assets/js/jquery.scrolly.min.js"></script>
			<script src="themes/photon/assets/js/skel.min.js"></script>
			<script src="themes/photon/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="themes/photon/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="themes/photon/assets/js/main.js"></script>

	</body>
</html>